<div
  class="sticky top-0 py-3 mb-3 rounded-b-md z-10 flex gap-2 max-w-full bg-base-100 overflow-x-auto"
>
  @let oldAuto = cs.oldAuto$ | async; @let autoTh = (cs.autoTh$ | async)!; @let
  selectedClasses = (cs.selectedClasses$ | async)!; @let isHaveSomeClassSelected
  = (isHaveSomeClassSelected$ | async)!;
  <button
    class="btn btn-xs text-xs btn-outline"
    (click)="generateCombinationOfSubjects('refer-non-overlap')"
    [disabled]="!isHaveSomeClassSelected"
  >
    Tự động
    <span
      class="text-xs btn btn-active btn-xs"
      *ngIf="oldAuto === 'refer-non-overlap' && autoTh > -1"
    >
      {{ autoTh + 1 }}
    </span>
  </button>
  <button
    class="btn btn-xs text-xs btn-outline"
    (click)="generateCombinationOfSubjects('refer-non-overlap-morning')"
    [disabled]="!isHaveSomeClassSelected"
  >
    Buổi sáng
    <span
      class="text-xs btn btn-active btn-xs"
      *ngIf="oldAuto === 'refer-non-overlap-morning' && autoTh! > -1"
    >
      {{ autoTh + 1 }}
    </span>
  </button>
  <button
    class="btn btn-xs text-xs btn-outline"
    (click)="generateCombinationOfSubjects('refer-non-overlap-afternoon')"
    [disabled]="!isHaveSomeClassSelected"
  >
    Buổi chiều
    <span
      class="text-xs btn btn-active btn-xs"
      *ngIf="oldAuto === 'refer-non-overlap-afternoon' && autoTh > -1"
    >
      {{ autoTh + 1 }}
    </span>
  </button>
  <button
    class="btn btn-xs text-xs btn-outline"
    (click)="generateCombinationOfSubjects('refer-non-overlap-evening')"
    [disabled]="!isHaveSomeClassSelected"
  >
    Buổi tối
    <span
      class="btn btn-active btn-xs"
      *ngIf="oldAuto === 'refer-non-overlap-evening' && autoTh > -1"
    >
      {{ autoTh + 1 }}
    </span>
  </button>
</div>

<div
  id="class-info"
  class="overflow-scroll overflow-x-hidden overflow-y-overlay"
  [style.max-height]="'calc(100vh - 22.5rem)'"
>
  @let calendar = cs.calendar$ | async;
  <div
    *ngFor="let major of calendar?.majors || {} | keyvalue"
    class="collapse collapse-plus border border-base-content bg-base-100 w-full mx-auto mb-3"
  >
    <input type="checkbox" aria-label="Expand section" />
    <div class="collapse-title text-sm font-medium py-3">
      <b>
        <span>{{ major.key }}</span>
      </b>
      <span
        class="badge badge-primary ml-2 text-xs font-normal"
        *ngIf="isMajorSelecting(major.key)"
      >
        Đang chọn
      </span>
    </div>
    <div class="collapse-content">
      <div class="flex justify-end gap-2 mb-4">
        <button
          class="btn btn-xs text-xs btn-outline"
          (click)="selectMajor(major.key, false)"
        >
          Bỏ chọn tất cả
        </button>
        <button
          class="btn btn-xs text-xs btn-outline"
          (click)="selectMajor(major.key, true)"
        >
          Chọn tất cả
        </button>
      </div>
      <div class="flex flex-col">
        <div
          *ngFor="let subject of major.value | keyvalue"
          class="flex flex-col gap-2 py-3 border-t border-base-content"
        >
          <button
            class="btn btn-sm text-xs w-full btn-outline text-left justify-start"
            [ngClass]="[selectedClasses?.[major.key]?.[subject.key]?.show ? 'btn-active btn-primary' : 'btn-outline']"
            (click)="changeShow(major.key, subject.key)"
          >
            {{ subject.key }}
          </button>
          <div class="flex gap-1 flex-wrap ml-2">
            <button
              class="btn btn-xs text-xs btn-outline"
              [ngClass]="[selectedClasses?.[major.key]?.[subject.key]?.class === code.key ? 'btn-active btn-accent' : 'btn-outline']"
              *ngFor="let code of subject.value | keyvalue"
              (click)="changeClass(major.key, subject.key, selectedClasses?.[major.key]?.[subject.key]?.class !== code.key ? code.key : null)"
            >
              {{ code.key }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
